body{
    margin: 20px;
}


#submit{
    font-size: 15px;
    color: white;
    background-color: black;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}
#display-user-data{
    visibility: hidden;
}

.location-details{
    margin-top: 20px;;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}

.map{
    margin:1px;
    width: 99%;
    height: 60vh;
}

#search{
    width: 90%;
    height: 50px;
    border-radius: 5px;
}

.postDetails{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    gap: 35px;
}

.postOffice{
    border: 1px solid black;
    padding: 30px;
    border-radius: 5px;
}

.postOffice p{
    font-size: 18px;
    font-weight: 700;
}
